@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #338cf4;
}


.container {
    background-color: #fff;
    width: 90vmin; /* vmin stands for viewport minimum */ /* vmin function is used to set the size of an element as a percentage of the minimum value between the viewport width or height. For example, if the viewport is 1000px wide and 800px high, if we set the width of an element to 30vmin , it will be 30% of the height. */
    padding: 50px 30px; 
    position: absolute;
    transform: translate(-50%, -50%); /* transform property applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements. translate(x,y) Defines a 2D translation. */
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2); /* box-shadow: none | h-offset | v-offset | blur_radius | spreadness_of_that_blurred_radius color | rgba( , , , ); */  
}


.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}


button {  /* targetting the <button> tag */
    width: 28px;  /* increasing the internal spacing between the buttons in terms of width */
    height: 28px; /* increasing the internal spacing between the buttons in terms of height */
    display: grid;
    place-items: center;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    outline: none; /* An outline is a line that is drawn around elements, OUTSIDE the borders, to make the element "stand out". */
    color: #020929;
    cursor: pointer;
}


select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
    cursor: pointer;
}


.options label,
.options select {
    font-family: 'Poppins', sans-serif;
}


input[type="color"]{ /* type attribute defines which type of input control to display and, depending on which type is included, provides for some validation in supporting browsers. */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}


input[type="color"]::-webkit-color-swatch{  /* ::-moz-color-swatch CSS pseudo-element is a Mozilla extension that represents the color selected in an <input> of type="color". */
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}


input[type="color"]::-moz-color-swatch{  /* ::-moz-color-swatch CSS pseudo-element is a Mozilla extension that represents the color selected in an <input> of type="color". */
    border-radius: 15px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}


#text-input{
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    height: 50vh;
}


.active{
    background-color: #e0e9ff;
}